@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #2f3c2f;
  --color-accent: #6e886e;
  --color-secondary: #d9e0d5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-safe-primary: var(--color-primary);
  --color-safe-accent: var(--color-accent);
  --color-safe-secondary: var(--color-secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
